ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    width: 60px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #666;
}

li a:hover {
    background-color: darkcyan;
    color: white;
}
